.c-greeting {
	opacity: .17;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-self: center;
	font-family: $titleFont;
	font-size: 15vw;
	letter-spacing: -.75vw;
	text-align: center;
	color: white;
	//background: linear-gradient(transparent, transparent),
             //url(https://panzera.pro/storage/shit.gif) repeat;
    background-clip: text;
    -webkit-background-clip: text;
}
