body {
  background: #222;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  font-family: $proseFont;
  &:after {
  	content: "";
  	position: absolute;
  	z-index: -1;
  	top: 0;
  	left: 0;
  	display: block;
  	width: 100vw;
  	height: 100vh;
    background: #ff5615;
    //opacity:.66;
  	//background: linear-gradient(128deg, red, orange, yellow, green, blue, indigo);
    background: linear-gradient(128deg, #ff5615, red);
    background-size: 1400% 1400%;
    animation: Gradient 25s ease infinite;
  }
  &:before {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(0,0,0,0);
    transition: all ease-in-out .15s;
    z-index: 99;
  }
  & .modal {
    &:before {
      background: rgba(0,0,0,.5);
    }
  }
}

.o-submenu {
  width: 100vw;
  overflow: hidden;
  transition: all ease-in-out .15s;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: $gap*2;
  background: #333;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  z-index: -1;
  li {
    display: inline-block;
    width: auto;
    margin-right: $gap*2;
    padding-right: $gap*2;
    border-right: 1px solid #535353;
    a {
      text-decoration: none;
      color: #acacac;
      transition: all ease-in-out .25s;
      &:hover {
        color: yellow;
      }
    }
  }
  &__open {
    top: 69px;
  }
}

.o-wrap {
	width: 100%;
	margin: 0 auto;
	display: flex;
  z-index: 0;
}

.o-navigation {
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}