* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$testColor: LimeGreen;
$titleFont: arial, sans-serif;
$proseFont: arial, sans-serif;
$gap: 10px;
$shadow: drop-shadow(0 2px 4px rgba(0,0,0,.5));

// Includes 
@import 'object','component','animation','utility','scanlines';

$cyan:    #00ffff;
$yellow:  #ffff00;
$magenta: #ff00ff;
$green:   #00ff00; 
$fullWidth: 1120px;
$scrollBarWidth: 20px;

navigation {
	background: #262626;
	z-index: 9999;
	&:before {
		content: "";
		display: flex;
		height: 2px;
		width: 100%;
		background: linear-gradient(to right, $cyan, $yellow, $magenta, $green, $cyan, $yellow, $magenta, $green);
    	animation: Gradient 30s ease infinite;
		background-size: 400% 400%;
	}
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}